[submodule "source/java/2d/core"]
	path = source/java/2d/core
	url = git@github.com:memellis/core.git
[submodule "source/java/2d/android/assets"]
	path = source/java/2d/android/assets
	url = git@github.com:memellis/assets.git
